<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>{{title}}</h1>

            <form>
                <div class="form-group">
                    <label for="room_lenght"> Lenght room </label>
                    <input id="room_lenght" class="form-control" name="room_lenght" type="text" value="{{room_lenght}}"
                           placeholder="Lenght room in metres please" required>
                </div>
                <div class="form-group">
                    <label for="room_widht"> Widht room</label>
                    <input id="room_widht" class="form-control" name="room_widht" type="text" value="{{room_widht}}"
                           placeholder="Widht room in metres please" required>
                </div>
                <div class="form-group">
                    <label for="room_height"> Height room</label>
                    <input id="room_height" class="form-control" name="room_height" type="text" value="{{room_height}}"
                           placeholder="Height room in metres please" required>
                </div>
                <button class="btn btn-primary">Calculate</button>
            </form>

            {% if total_rulons %}

            <div> Total rulons: {{total_rulons}} </div>

            {% endif %}

        </div>
    </div>
</div>
</body>
</html>